body{
    margin:0;
}
.navbar{
    margin:0px;
    height:70px;
    box-shadow:0px 3px 10px gray;
    background-color:#AA77FF;
}
.navbar-brand{
    font-weight:bold;
    font-size:25px;
}
.header-list{
    margin-left:10%;
}
.nav-item{
    margin-left:8%;
    margin-right:8%;
    font-size:14px;
    font-weight: 900;
}
.header-buttons{
    margin-right:2%;
}
.row{
    margin:1%;
}
/*design-body*/
.col-6{
    display: flex;
    flex-direction: column;
    height:555px;
}
.pic-1{
    height:120px;
    margin-bottom:1%;
    border-radius: 12px;
}
.pic-2{
    height:280px;
    margin-bottom: 1%;
    border-radius:12px;
}
.pic-3{
    height:120px;
    border-radius:12px;
}
/*section-2*/
.my-con{
    display: inline-block;
    width: 100%;
    margin:0%;
    padding:1% 12% 2% 12%;
    flex-direction: row;
    background-color: #FC2947;
}
.categories{
    float:left;
    height:320px;
    width:200px;
    background-color: white;
    border:3px solid silver;
    border-radius:8px;
    margin-top:1%;
}
input[type='checkbox']{
    accent-color: gray;
}
h1{
    font-size:30px;
    font-weight:bold;
    text-align: center;
    color:white;
}
h3{
    font-size:17px;
    font-weight: bold;
    text-align:center;
    margin-top: 3px;
}
hr{
    margin-top:2px;
}
.sub-categories{
    float:right;
    height:320px;
    width:200px;
    background-color: white;
    border:3px solid silver;
    border-radius:8px;
    margin-top:1%;
}
.my-img{
    height:320px;
    width:740px;
    margin:10px 6px 0px 6px;
    border-radius:8px;
}
/*section-3*/
#Dev{
    height:420px;
    margin-top:1%;
    padding:2% 0% 1.5% 3%;
    background-image: linear-gradient(to bottom right, rgb(240, 108, 216), rgb(213, 213, 80));
}
#carouselback{
        height:350px;
        width:81%;
        background-color: black;
        padding:0% 0% 0% 11%;
} 
#carouselExample{
    height:350px !important;
    width:85%;
}
.special{
    height:350px;
}
.my-car{
    text-align: center;
    padding-top:150px;
}
.sec-4{
    width:100%;
    height:450px;
    margin:1% 0% 0% 0%;
}
.card{
    border-radius:8px;
    box-shadow: 1px 2px rgb(210, 208, 208);
    margin:2% 3% 0% 3%;
    height:25rem;
}
.card:hover{
    transform: scale(1.1);
}
.my-button{
 float:right;
}
.card-img-top{
    width:100%;
    height:50%;
}
h2{
   font-size:25px;
   font-weight: bold;
   color:#F15A59;
}
footer{
    width:100%;
    height:150px;
    background-color:#AA77FF;
    color:white;
    margin:4% 0% 0% 0%;
    padding:20px 10px 0px 10px;

}
.footer-text{
    display: inline-block;
    border-right:1px solid white;
    list-style-type: none;
    margin:0% 10% 1.5% 10%;
    padding-right: 4%;
}
span{
    float:right;
    padding-top:20px;
}


    
    
    
    
    
    
    






